[DEFAULT]
scm = git
build = nothing
git.revision = master

[dev-pipeline-core]
git.uri = https://github.com/dev-pipeline/dev-pipeline-core.git

[dev-pipeline-scm]
depends =
    dev-pipeline-core
git.uri = https://github.com/dev-pipeline/dev-pipeline-scm.git

[dev-pipeline-build]
depends =
    dev-pipeline-core
git.uri = https://github.com/dev-pipeline/dev-pipeline-build.git

[dev-pipeline-git]
depends =
    dev-pipeline-core,
    dev-pipeline-scm
git.uri = https://github.com/dev-pipeline/dev-pipeline-git.git

[dev-pipeline-cmake]
depends =
    dev-pipeline-build,
    dev-pipeline-core
git.uri = https://github.com/dev-pipeline/dev-pipeline-cmake.git

[dev-pipeline-build-order]
depends =
    dev-pipeline-core
git.uri = https://github.com/dev-pipeline/dev-pipeline-build-order.git

[dev-pipeline-configure]
depends =
    dev-pipeline-core
git.uri = https://github.com/dev-pipeline/dev-pipeline-configure.git

[dev-pipeline-bootstrap]
depends =
    dev-pipeline-build,
    dev-pipeline-core,
    dev-pipeline-scm
git.uri = https://github.com/dev-pipeline/dev-pipeline-bootstrap.git

[dev-pipeline]
depends =
    dev-pipeline-bootstrap,
    dev-pipeline-build,
    dev-pipeline-build-order,
    dev-pipeline-cmake,
    dev-pipeline-configure,
    dev-pipeline-core,
    dev-pipeline-git,
    dev-pipeline-scm
git.uri = https://github.com/dev-pipeline/dev-pipeline.git
